* {
    margin: 0;
}
:root {
    --primary-color: #80210c;
    --secondary-color: #333131;
    --tertiary-color: #585858;
    --text-color: #ffffff;
}

body {
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e2e1e1;
}

/* apply style to header title*/
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    background-color: var(--secondary-color);
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
}

header h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: var(--primary-color);
    margin: 0px;
    padding: 8px 10px 4px 14px;
    border:0px 4px 0px 50px solid var(--primary-color);
}

header a {
    text-decoration: none;
    color: var(--text-color)
}

/* apply style to header nav */
header nav {
    margin: 9px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: normal;
    font-size: 2vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* end header */

/* footer styling start */
footer {
    width: 100%;
    background: var(--secondary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h3 {
    font-size: 28px;
    color: var(--text-color);
    margin: 0px;
}
/* footer end */

/* about me style */
.about-me {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    background-color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);


}

.about-me h2 {
    font-size: 48px;
    border-bottom: 3px solid;
    border-width: 5px;
    color: var(--text-color);
    padding-bottom: 10px;
    text-align: center;
    margin: 0px auto 15px auto;
    width: 100%;
    background-color: var(--secondary-color);

}

.about-me img {
    max-width: 200px;
    max-height: 200px;
    border: 5px solid var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 15px 60px 25px 60px;
}

.about-me p {
   flex: 12;
   margin-right: 25px;
   margin-bottom: auto;
   margin-top: 25px;
   color: var(--text-color);
   background-color: rgba(0, 0, 0, 0.45);
   border: solid 5px rgba(0, 0, 0, 0.45);
   padding: 15px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about-me p span {
    color: var(--text-color);
    
}

/* about me end */

/* portfolio page start */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    background-color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
}

.portfolio h2 {
    font-size: 48px;
    border-width: 5px;
    color: var(--text-color);
    padding-bottom: 10px;
    text-align: center;
    margin: 0px auto 15px auto;
    width: 100%;
    background-color: var(--tertiary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

}

.run-buddy-container {
    max-width: 1000px;
    max-height: 500px;
    width: 50%;
    display: flex;
    justify-content: right;
    background-image: url(../images/run-buddy.jpg);
    margin-top: 30px;
    padding-top: 150px;
    margin-left: 300px;
    border: 5px solid var(--secondary-color);
}

.run-buddy-container a {
    height: 120px;
    width: 250;
    background-color: teal;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    margin-left: 300px;
}

.horiseon {
    max-width: 300px;
    max-height: 300px;
    width: 50%;
    display: flex;
    justify-content: center;
    background-image: url(../images/digital-marketing-meeting.jpg);
    margin-top: 50px;
    padding-top: 150px;
    margin-left: 300px;
    margin-bottom: 15px;
    border: 5px solid var(--secondary-color);
}

.horiseon a {
    height: 120px;
    width: 250;
    background-color: rgb(69, 69, 212);
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}
/* end portfolio page */

/* start contact page styling*/
.contact-info {
    display: flex;
    justify-content: space-between;
    margin: 20px 15px;
}

.contact-info h2 {
    color: var(--text-color);
}

.contact-me {

}

.contact-me a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-style: oblique;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.25);
    color: var(--text-color);
}

.contact-me a span {

}

/* end contact page */

/* Utilities */
section {
    padding: 40px;
}

/* start footer styling */
footer {
    display: flex;
    padding: 0px;
    margin: 0px;
}

footer h3{

}
/* end footer styling */

/*alternate media screen stylings */
@media screen and (max-width:980px){
    
}

@media screen and (max-width:768px){
    
}

@media screen and (max-width:575px){
    
}